.CodeMirror-wrap pre {
    word-break: break-word;
}
.CodeMirror-gutters {
    background-color: #ffffff;
    border-right: 1px solid #eeeeee;
    padding-left: 6px;
}
.CodeMirror-scroll {
    padding-top: 4px;
    padding-bottom: 46px;
}
.CodeMirror-foldgutter {
    padding-right: 6px;
}
.CodeMirror pre.CodeMirror-line {
    /* padding: 0 10px; */
}
.CodeMirror pre.CodeMirror-line > span {
    /* margin: 0 -6px; */
    /* padding: 0 10px; */
}
#code {
    border: 1px solid #eeeeee;
}
.stdio {
    white-space: pre-wrap;
}