.CodeMirror-wrap pre {
    word-break: break-word;
}
.CodeMirror-gutters {
    background-color: #ffffff;
    border-right: 1px solid #eeeeee;
}
.CodeMirror-foldgutter {
    padding-right: 6px;
}
#code {
    border: 1px solid #eeeeee;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #e2e2e2;
    border: 2px solid #ffffff;
}